body {
    margin: 0;
    padding: 0;
}

#page {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background-color:seashell;
}

.title_up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: sienna;
    font-size: 36px;
    margin-bottom: 30px;
}

.title_up p {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 53px;
    margin-right: 53px;
}

.content {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 2px solid blanchedalmond;
    background-color: white;
    width: 900px;
    height: 600px;
}

.bottom_info {
    display: none;
    transition-duration: 2s;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 -3px 8px 5px seashell;
    background-color:seashell;
}

.bottom_info p{
    margin:2px;
    color: sienna;
    font-size: 20px;
}

.prev_graph, .next_graph, .prev_chart, .next_chart {
    background-color: white;
    border-radius: 50%;
    border: 1px solid saddlebrown;
    color: saddlebrown;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 3px;
    cursor: pointer;
}

.prev_graph:focus, .next_graph:focus, .prev_chart:focus, .next_chart:focus {
    border: none;
    outline: none;
}

.prevnext_buttons {
    display: flex;
    flex-direction: row;
}

.multi_container {
    display: flex;
    flex-direction: column;
}


#myChart {
    width: 896px;
    max-width: 896px;
}

#chart {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 2px solid blanchedalmond;
    background-color: white;
    width: 900px;
    height: 600px;
    position: relative;
    min-height: 600px;
    min-width: 900px;
    align-items: center;
    display:flex;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid blanchedalmond;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    bottom: -300px;
    position: fixed;
    left: 250px;
    transition: 0.5s;
    z-index: 2;
}

.options:hover {
    bottom: 0px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px;
    max-width: 160px;
}

.buttons button {
    width: 100%;
}

.annealing {
    border: 1px solid rgb(247, 205, 142);
}

.genetic {
    border: 1px solid rgb(247, 205, 142);
}

.outer_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    max-width: 300px;
    height: 320px;
}

.inner_title {
    color: sienna;
    font-size: 16px;
}

.inner_title p {
    margin: 2px;
}

.inner_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    padding: 10px;
    height: 285px;
    border: 2px solid blanchedalmond;
    background-color: seashell;
}

.red_button {
    display: flex;
    justify-content: center;
}

.red_button button {
    width: 200px;
}

.title_input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.title_input p {
    margin: 2px;
    color: sienna;
}

.title_input input {
    outline: none;
    border: 1px solid wheat;
    max-width: 118px;
}

.button_start {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.button_start:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.1s;
}

.button_start:focus{
    border: none;
    outline: none;
}

.button_start:active {
    opacity: 0.5;
    transition-duration: 0.2s;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:burlywood;
    font-family: Courgette;
    text-align: center;
}
