body {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: seashell;
}

.block-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#graph-container {
  display: flex;
  border: 2px solid blanchedalmond;
  background-color: white;
  width: 1300px;
  height: 90%;
}

.graph-info {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  color: rgb(167, 149, 122);
  justify-content: space-between;
  width: 1300px;
}

.title-time-wrapper {
  opacity: 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  border: solid rgb(167, 149, 122);
  border-width: 0 0 3px 0;
  transition: opacity 1s;
}

.graph-time {
  margin-left: 10px;
}

.graph-length {
  margin-left: 10px;
}

.prev-next-buttons {
  display: flex;
  flex-direction: row;
}

.iterations {
  opacity: 0;
  width: fit-content;
  border: solid rgb(167, 149, 122);
  border-width: 0 0 3px 0;
}

/* .prev-graph,
.next-graph {
  background-color: white;
  border-radius: 50%;
  border: 1px solid saddlebrown;
  color: saddlebrown;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 3px;
  cursor: pointer;
}

.prev-graph:focus,
.next-graph:focus {
  border: none;
  outline: none;
}

.prev-next-buttons {
  display: flex;
  flex-direction: row;
} */

.menuGraph {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: -344px;
  z-index: 2;
  height: 100%;
  transition: right 0.5s;
}

.openButton button {
  background-color: rgb(0, 177, 74);
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: white;
  transition: width 0.2s, background-color 0.2s;
  border-radius: 10px 0 0 10px;
}

.openButton button:hover {
  width: 80px;
  background-color: rgb(0, 141, 59);
}

.openButton button:active {
  background-color: rgb(0, 100, 42);
}

.options-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 2px solid rgb(202, 181, 149);
  background-color: rgb(255, 227, 184);
  width: 300px;
  padding: 20px;
}

.optionsGraph {
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
}

.option p {
  margin: 0;
  font-size: 20px;
}

.nodes-count {
  border: 1px solid black;
  outline: none;
  width: 150px;
}

.blue-button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: rgb(0, 177, 74);
  color: white;
  font-size: 20px;
  width: 250px;
  padding: 20px;
  transition: background-color 0.2s;
}

.blue-button:hover {
  background-color: rgb(0, 141, 59);
}

.blue-button:active {
  background-color: rgb(0, 100, 42);
}

.optionsAlg {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 50px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.alg-option {
  justify-content: space-around;
  align-items: center;
}

.pWrapper {
  width: 205px;
  transition: background-color 0.2s;
}

.pWrapper button {
  font-size: 14px;
  padding: 5px;
  width: 180px;
  text-align: center;
}

.pWrapper:hover {
  cursor: pointer;
}

.optionButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choiceAndOptions {
  display: flex;
  flex-direction: column;
}

.optionsList {
  display: none;
  flex-direction: column;
}

.adjustOption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 220px;
  margin-left: 50px;
}

.adjustOption input {
  width: 100%;
  outline: none;
}


@media screen and (max-width: 1310px) {
  .graph-info, #graph-container {
    width: 1000px;
  }
}